
/* bar de navigation */ 

nav ul  {
		padding: 0;
		margin:auto;
		display:table;
		list-style-type:none;
		background-color:#2f3640;
		}
		
nav li {
display:inline-block;
width:100px;
height:40px;
margin:0px;
padding:0px;
text-align:center;
line-height:40px;
}

h1, .patho, .source,h2
{
	color:white;
}

nav li :hover{
background-color:#3388BB;
}

nav li a {
	display:block;
	text-decoration:none;
  color:#FFFFFF;
  background : #2f3640;
	}
	
body {
	background-color :#2f3640;
	
}
#error_message
{
	color:red;
	font-weight:bold;
}

#hello
{
	color:white;
	background-color :#2f3640;
}

/*mise en page du formulaire de connexion et inscription*/

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form_recherche {
  position: relative;
  z-index: 1;
  background: rgba(225, 177, 44,1.0);
  max-width: 10000px;
  margin: 0 auto 100px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  color : #2f3640;
  font-family: monospace;
  font-size : 16px;
}

.form_recherche>form>input{
  margin-top: 15px;
	background-color: #2f3640; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width:100%;

}

.form_recherche>form>input:hover{
	background-color:#3388BB;
	border: 1px solid black;
}






/* Form Module */
.form-module {
  background: #ffffff;
  max-width: 320px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin:auto;
  margin-top:100px;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #33b5e5;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-bottom:7px;
}
.form-module button:hover {
  background: #178ab4;
}

